body{
    font-family: 'Franklin Gothic Medium', 'Press Start 2P', 'consolas', sans-serif;
    -webkit-text-fill-color: darkorange;
    -webkit-text-stroke-color:darkorange;
    background-color: black;
}
