body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-fill-color: darkorange;
    -webkit-text-stroke-color:darkorange;
    background-color: gray;
}
